    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Noto Sans KR', sans-serif;
    }

    
    
    /* Style the top navigation bar */
    .bg-dark {
        background-color: rgb(25, 25, 25) !important;
    }
    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: rgb(222,140,122);
        font-family: 'Bungee';
    }

    .navbar-dark .navbar-nav .nav-link {
        color: rgb(247,225,195);
        font-family: 'Bungee';
    }

    .logo {
        max-height: 40px;
        width: auto;
        border-radius: 5px;
    }




    /* main body */
    a {
        text-decoration: none;
        color: rgb(222,140,122);
    }

    a:hover {
        color: rgb(55,136,149);
        text-decoration: none;
    }

    body {
        background-image: url("images/background.png");
        background-position: center;
    }

    button {
        font-family: 'Girassol';
        font-weight:bold;
        font-size:larger;
        padding: 20px;
        border-radius: 20px;
        border-style: outset;
        border-width: 3px;
        color:rgb(0, 0, 0);
        background-color:rgb(222, 140, 122);
        box-shadow: 0px 0px 5px rgb(30,30,30);
    }

    button:hover {
        transform:translate(-3px,-3px);
        background-color:rgb(242, 160, 142);
        box-shadow: 0px 0px 12px rgb(20,20,20);
    }

    #button_box {
        display: flex;
        justify-content: space-around;
        margin: 40px;
    }

    #page_container {
        position: relative;
        min-height: 100vh;
    }

    .mainblock {
        padding: 40px;
        margin: 100px 50px 20px 50px;
        background-color: rgb(150,150,150);
        box-shadow: 0px 0px 20px rgba(30,30,30,0.8);
    }

    #textbox {
        background-color: rgb(74,74,74);
        color: rgb(247,225,195);
        padding:10px;
        margin: 50px 0px;
        border-radius: 5px;
    }

    #float_header {
        background-color: rgb(25,25,25);
        color: rgb(247,225,195);
        border-radius: 10px;
        padding: 4px;
        text-size-adjust: auto;
        font-family: 'Bungee';
        text-decoration: underline;
    }

    .spacer {
        margin: 50px;
        border:none;
        padding: 50px;
    }

    img {
        max-width: 100%;
    }



    /* -- vote page -- */
    #vote {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #vote h2 {
        font-weight: bold;
        text-decoration: underline;
    }

    #voteimg img {
        max-width: 100%;
    }
    #voteimg {
        background-color: none;
    }

    #results {
        display: flex;
        justify-content: space-around;
    }

    #ja {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nein {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    

    /*  -- board page -- */
    #role {
        position: fixed;
        bottom:30px;
        left:30px;
        margin: 10px;
        padding: 10px;
        background-color: rgb(25, 25, 25);
        border-radius: 10px;
        color: rgb(247,225,195);
        z-index: 1;
    }
    #role img {
        max-width: 100px;
        border-radius: 10px;
    }
    .middle {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    #facistBoard {
        float: left;
        position:relative;
        margin: 5px;
    }
    #facistBoard #facistPolicy1 {
        top:23%;
        left:7.5%;
        position:absolute;
    }
    #liberalBoard {
        float: left;
        position:relative;
        margin: 5px;
    }
    #liberalBoard #liberalPolicy1 {
        top:23%;
        left:14.5%;
        position:absolute;
    }
    #liberalBoard #liberalPolicy2 {
        top:23%;
        left:29%;
        position:absolute;
    }
    #liberalBoard #liberalPolicy3 {
        top:23%;
        left:43.5%;
        position:absolute;
    }

    
    .facistPolicy {
        max-width: 13%;
    }
    .liberalPolicy {
        max-width: 13%;
    }

    #presidency {
        display: flex;
        justify-content: space-around;
        font: outline rgb(79, 191, 243);
        color: rgb(247,225,195);
        background-color: rgb(25,25,25);
        font-family: 'Bungee';
        margin-top: 75%;
        border-radius: 10px;
        padding: 10px;
    }
    #presidency p {
        font-family: 'Girassol';
        font-weight:bold;
        color: rgb(25,25,25);
    }
    #president {
        height:10%;
        overflow: hidden;
        margin: 5px;
    }
    #chancellor {
        height:30%;
        overflow: hidden;
        margin: 5px;
    }
    #presidency img {
        max-width: 100%;
        margin-top: -18%;
        margin-bottom: -18%;
    }




    /* -- setup -- */
    #game_code {
        padding: 20px;
    }
    #game_code h1 {
        color: rgb(247,225,195);
        background-color: rgb(25,25,25);
        font-family: 'Bungee';
        border-radius: 10px;
        padding: 20px;
        font-size: 100%;
    }
    #setup_img {
        box-shadow: 0px 0px 5px rgb(30,30,30);
    }
    #information {

    }





    /* -- footer -- */
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
    }

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0px 30px 0px;
        color: rgb(247,225,195);
        background-color: rgb(25,25,25);
    }